:root {
	--primary-color: #5d5a88;
	--secondary-color: #9795b5;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "DM Sans", Arial, "Times New Roman";
	background-color: #fff;
	font-size: 18px;
	padding: 0px;
}

img {
	max-width: 100%;
}

p {
	font-weight: 400;
	color: var(--secondary-color);
}

.container {
	width: 100%;
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.header {
	background-color: #f9f9ff;
}

.title-h1 {
	color: var(--primary-color);
}

.title-h2 {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.3;
	color: var(--primary-color);
}

.title-h3 {
	font-weight: 700;
	color: var(--primary-color);
}

.button {
	display: inline-block;
	text-align: center;
	font-size: 18px;
	padding: 20px 35px;
	border-radius: 40px;
	line-height: 1;
	font-family: "DM Sans", Arial, "Times New Roman";
	text-decoration: none;
}

.button_xl {
	padding: 25px 55px;
}

.button_primary {
	margin-right: 24px;
	border: none;
	font-weight: 700;
	background-color: var(--primary-color);
	color: #fff;
}

.button_secondary {
	font-weight: 400;
	background-color: #fff;
	color: var(--primary-color);
}

.button_primary:hover {
	background-color: #5f5c7f;
}

.button_primary:active {
	background-color: #a4a2c4;
}

.button_secondary:hover {
	background-color: #f6f5ff;
}

.button_secondary:active {
	background-color: #efeefb;
}

/*-------------------------HEADER-------------------------- */

.header {
	padding-top: 40px;
	padding-bottom: 40px;
}

.header__list {
	display: flex;
	gap: 30px;
	justify-content: space-between;
	align-items: center;
	padding-left: 0;
	list-style: none;
}

.header__item_logo {
	flex: 1;
	text-align: center;
}

.header__link {
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	color: var(--primary-color);
	text-decoration: none;
}

.header__link:hover {
	color: #1500ff;
}

.header__link:active {
	color: #000;
}

/* -------------------------TEAM-------------------------- */

.team {
	padding-top: 120px;
	padding-bottom: 120px;
}

.team__container {
	display: flex;
	align-items: center;
}

.team__content {
	padding-left: 80px;
}

.team__info {
	margin-bottom: 50px;
}

.team__title {
	margin-bottom: 15px;
	font-size: 56px;
	font-weight: 700;
}

.team__text {
	line-height: 1.7;
	color: #8d8ba7;
}

.team__button-secondary {
	border: 1px solid #5d5a88;
}

.team__icon {
	width: 15px;
	height: 15px;
	margin-left: 8px;
}

/* ------------------------TRUSTED------------------------ */

.trusted {
	padding-top: 100px;
	padding-bottom: 155px;
	background-color: #f9f9ff;
}

.trusted__info {
	margin-bottom: 120px;
}

.trusted__title {
	margin-bottom: 15px;
	width: 45%;
	color: #1e285f;
}

.trusted__text {
	width: 50%;
	line-height: 1.6;
}

.trusted__list {
	display: flex;
	flex-wrap: wrap;
	gap: 90px;
	justify-content: space-between;
	padding-left: 0;
	list-style: none;
}

/* -----------------------RESULTS------------------------- */

.results {
	padding-top: 177px;
	padding-bottom: 177px;
}

.results__container {
	display: flex;
	align-items: center;
	gap: 80px;
}

.results__main-title {
	width: 30%;
}

.results__content {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
}

.results__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 270px;
	width: 50%;
	padding: 80px 50px;
	border: 1px solid #d4d2e3;
	text-align: center;
}

.results__item_top-left {
	border-top-left-radius: 15px;
	border-right: none;
	border-bottom: none;
}

.results__item_top-right {
	border-top-right-radius: 15px;
	border-bottom: none;
}

.results__item_bottom-left {
	border-bottom-left-radius: 15px;
	border-right: none;
}

.results__item_bottom-right {
	border-bottom-right-radius: 15px;
}

.results__item-title {
	line-height: 1.1;
	font-size: 44px;
}

.title-grey {
	color: #bcbacd;
}

.results__text {
	line-height: 1.4;
	font-size: 24px;
	font-weight: 700;
	color: var(--primary-color);
}

/* --------------------------ACCOUNT---------------------------- */

.account {
	background-color: #f2f1fa;
}

.account__container {
	display: flex;
	gap: 100px;
}

.account__content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	margin-bottom: 30px;
	margin-top: 30px;
}

.account__info {
	margin-bottom: 40px;
}

.account__title {
	margin-bottom: 15px;
}

.account__text {
	line-height: 1.6;
}

.account__link {
	color: #adabc3;
}

.account__link:visited {
	color: rgba(143, 0, 255, 0.62);
}

.account__link:hover {
	color: #5d5a88;
}

.account__link:active {
	color: #1500ff;
}

.account__button-primary {
	font-size: 20px;
}

.account__button-secondary {
	border: 1.5px solid #5d5a88;
	background-color: transparent;
	font-size: 20px;
}

.account__image-container {
	width: 50%;
}

/* -------------------------MEMBERS--------------------------- */

.members {
	padding-top: 170px;
	padding-bottom: 190px;
}

.members__info {
	margin-bottom: 60px;
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.members__info .title-h2 {
	margin-bottom: 15px;
}

.members__items {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.members__item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: calc(33.333% - 20px);
	overflow: hidden;
	border: 1px solid #d4d2e3;
	border-radius: 20px;
	text-align: center;
}

.members__img {
	margin-bottom: 40px;
}

.members__content {
	padding-left: 20px;
	padding-right: 20px;
}

.members__title {
	margin-bottom: 15px;
	font-size: 28px;
	line-height: 1.3;
}

.members__subtitle {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.8px;
}

.members__text {
	line-height: 1.6;
	margin-bottom: 30px;
}

.members__icons {
	display: flex;
	gap: 15px;
	margin-bottom: 55px;
}

.icon-contact {
	display: flex;
	gap: 15px;
	width: 36px;
	height: 36px;
	padding: 9px;
	border-radius: 8px;
	background-color: #f2f1fa;
}

.members__icon {
	fill: currentColor;
	color: #8d8ba7;
}

.icon-contact:hover {
	background-color: #5f5c7f;
}

.icon-contact:hover .members__icon {
	color: #f2f1fa;
}

.icon-contact:active {
	background-color: #a4a2c4;
}

.icon-contact:active .members__icon {
	color: #ffffff;
}

/* -------------------------PAYMENTS-------------------------- */

.payments {
	padding-top: 40px;
	padding-bottom: 135px;
}

.payments__title {
	margin-bottom: 120px;
}

.table {
	width: 100%;
	border: 1px solid #dddfe1;
	font-size: 13px;
}

.table__row-head {
	color: #464a53;
}

.table__cell-1 {
	color: #6a707e;
}

.table__cell-2 {
	color: #abafb3;
}

.table__cell-3 {
	color: #6a707e;
}

.table__cell-4 {
	color: #6a707e;
}

.table__cell-5 {
	color: #abafb3;
}

.table__cell-6 {
	color: #6a707e;
}

.table__cell-7 {
	color: #6a707e;
}

.table__row-1 {
	background-color: #fafafa;
}

.table__row-3 {
	background-color: #fafafa;
}

.table__row-foot {
	background-color: #fafafa;
}

.table__foot .table__cell-1 {
	color: #464a53;
}

.table__foot .table__cell-2 {
	color: #464a53;
}

/* ------------------------VIDEO---------------------------- */

.video {
	padding-top: 100px;
	padding-bottom: 100px;
}

.video__container {
	display: flex;
}

.video__content {
	padding-left: 100px;
}

.video__main-title {
	margin-bottom: 30px;
	text-align: center;
}

.video__title {
	margin-bottom: 10px;
}

.video__text:not(:last-child) {
	margin-bottom: 30px;
}

.video__text_font-size {
	font-size: 22px;
}

.text-through {
	text-decoration: line-through;
}

.text-italic {
	font-style: italic;
}

.text-italic-font-weight {
	font-style: italic;
	font-weight: 500;
}

.text-font-weight {
	font-weight: 700;
}

/* -------------------------FEATURES------------------------------ */

.features {
	padding-top: 150px;
	padding-bottom: 150px;
}

.features__container {
	display: flex;
	gap: 30px;
}

.features__item_xl {
	width: calc(50% - 15px);
	padding: 60px 100px;
	border-radius: 20px;
	background-color: #f2f1fa;
	text-align: center;
}

.features__image-container {
	display: flex;
	height: 50%;
	justify-content: center;
	align-items: center;
}

.features__content-container {
	display: flex;
	flex-direction: column;
	height: 50%;
	justify-content: flex-end;
	text-align: center;
}

.features__info {
	margin-bottom: 55px;
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.features__item-container {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	width: calc(50% - 15px);
}

.features .title-h2 {
	margin-bottom: 15px;
}

.features__text {
	line-height: 1.6;
	margin-bottom: 30px;
}

.features__text_s {
	font-size: 16px;
	line-height: 1.7;
}

.features__text_center {
	text-align: center;
}

.features__item {
	display: flex;
	align-items: center;
	gap: 70px;
	padding: 60px 50px;
	border-radius: 20px;
	background-color: #f2f1fa;
}

.features__item-title {
	font-size: 22px;
	margin-bottom: 15px;
}

.features__item-info {
	width: 60%;
}

.features__title_center {
	text-align: center;
}

.features__link {
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	color: #8d8ba7;
}

.features__icon {
	width: 20px;
	height: 20px;
	margin-left: 3px;
	vertical-align: middle;
}

.features__link:hover {
	color: #5d5a88;
}

.features__link:active {
	color: #1500ff;
}

/* ---------------------------FOOTER----------------------------- */

.footer {
	padding-top: 70px;
	padding-bottom: 70px;
}

.footer__container {
	display: flex;
	justify-content: space-between;
}

.footer__link {
	color: #adabc3;
}

.footer__link:visited {
	color: rgba(143, 0, 255, 0.62);
}

.footer__link:hover {
	color: #5d5a88;
}

.footer__link:active {
	color: #1500ff;
}

/* --------------------------BACKGROUND--------------------------- */

.background {
	height: 570px;
	background-repeat: no-repeat;
	background-position: left;
	margin-bottom: 50px;
	background-color: #f2f1fa;
	background-image: url(../images/background/css.png);
}

.background_center {
	background-position: center;
}

.background_right {
	background-position: right;
}

.background_left {
	background-position: left top;
}

.background_repeat {
	background-repeat: repeat;
	background-position: top;
}

.background_small-left {
	background-size: auto 50%;
	background-position: left top;
}

.background_small-repeat-x {
	background-size: auto 50%;
	background-position: left top;
	background-repeat: repeat-x;
}

.background_small-repeat-left-top {
	background-size: auto 50%;
	background-position: left top;
	background-repeat: repeat;
}

.background_small-repeat-top {
	background-size: auto 50%;
	background-position: top;
	background-repeat: repeat;
}

.background_small-repeat-size-top {
	background-position: top;
	background-size: 20% auto;
	background-repeat: repeat;
}

.background_small-repeat {
	background-size: 20% auto;
	background-repeat: repeat;
}

.background_small-center {
	background-size: auto 50%;
	background-position: center;
}

.background_small-repeat-y-r-bottom {
	background-size: 20% auto;
	background-repeat: repeat-y;
	background-position: right bottom;
}

.background_small-repeat-y-center-top {
	background-size: 20% auto;
	background-repeat: repeat-y;
	background-position: center top;
}

.background_double {
	background-image: url(../images/background/css3-02-svgrepo-com\ 5.png),
		url(../images/background/mantis-8194123_1920\ 1.jpg);
	background-position: center, center;
	background-size:
		auto 50%,
		100% auto;
}

/* -----------------------------FOUNDERS--------------------------- */

.founders {
	padding-top: 175px;
	padding-bottom: 175px;
}

.founders__container {
	width: 100%;
	max-width: 1630px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.founders__info {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	margin-bottom: 50px;
	text-align: center;
}

.founders__title {
	margin-bottom: 15px;
}

.founders__items {
	display: flex;
	justify-content: center;
}

.founders__item {
	position: relative;
	max-width: 480px;
}

.founders__hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.77);
}

.founders__item:hover .founders__hover {
	display: flex;
}
